<h1>Dragon</h1>
<div id="screen"></div>
<div id="message"></div>
<div id="keys">
  <span data-key=" ">SPACE</span>
  <span data-key="ArrowLeft"><i class="fa fa-arrow-circle-left"></i></span>
  <span data-key="ArrowDown"><i class="fa fa-arrow-circle-down"></i></span>
  <span data-key="ArrowUp"><i class="fa fa-arrow-circle-up"></i></span>
  <span data-key="ArrowRight"><i class="fa fa-arrow-circle-right"></i></span>
</div>
<%= javascript_pack_tag "dragon" %>
