body {
  color: black;
}

main {
  margin: 15px;
}

div#message {
  width: 310px;
  margin: 5px;
  padding: 5px;
  background-color: #ccc;
}

div#keys {
  text-align: center;
  width: 310px;
  padding: 5px;

  span {
    border: 1px solid black;
    padding: 5px 10px;
  }
}
